node_modules
/packages/client/node_modules
/packages/server/node_modules
/packages/server/.env
index.html
packages/server/sodra.json
packages/server/monthly2019.json
packages/server/monthly-2018.json
packages/server/monthly2020.json
packages/server/monthly2021.json
